<p class="test" style="margin: 10px 0 5px 0;">
    This card is lazy-loaded
</p>

<div style="margin-bottom: 30px;">
    {{title}}
</div>

<md-list-item ng-repeat="person in people" ng-click="select(person.name)" class="noright">
    <img alt="{{ person.name }}" ng-src="{{'/assets/img/' + person.img }}" class="md-avatar" />

    <p>{{ person.name }}</p>

    <md-button class="md-icon-button" ng-click="userInfo(person)">
        <md-icon class="mdi mdi-information" aria-label="User Info"></md-icon>
        <md-tooltip>User Info</md-tooltip>
    </md-button>

    <md-checkbox class="md-secondary" ng-model="selected[person.name]"></md-checkbox>
</md-list-item>

<div style="margin-top: 30px; font-weight: bold;">
    Selected Users ({{usersSize()}})
</div>

<ul>
    <li ng-repeat="(key, value) in selected" ng-if="value === true">{{key}}</li>
</ul>